mixin detail(data)
  if data
    - var { breadcrumbs, gallery, content } = data;
    section.detail._content&attributes(attributes)
      .container.detail__container
        if breadcrumbs
          +breadcrumbs(breadcrumbs)
        if gallery || content
          .detail__info
            if gallery
              .detail__gallery
            if content
              - var { title, code, settings, status, prices, error, counter } = content;
              form.detail__content(action="#")
                if title
                  h1.h3.detail__title!=title
                if code
                  .detail__code!=code
                if settings
                  .detail__settings
                    each section in settings
                      - var { modificators, title, cards, checkbox } = section;
                      .detail__settings-section(class=modificators)
                        if title
                          h5.detail__settings-title!=title
                        if cards
                          .detail__settings-content.js-settings-content
                            each subsection in cards
                              - var { subtitle, type, list } = subsection;
                              .detail__settings-subsection
                                if subtitle
                                  h6.detail__settings-subtitle!=subtitle
                                if list
                                  ul.detail__settings-list(class=`_${type}`)
                                    each item, idx in list
                                      - var { options, attrs } = item;
                                      -options.modificators = options.modificators ? `${options.modificators} detail__settings-item` : 'detail__settings-item';
                                      if type === 'materials'
                                        +material-btn(options)&attributes(attrs)
                                      else if type === 'colors'
                                        +color-btn(options)&attributes(attrs)
                                      else
                                        +setting-btn(options)&attributes(attrs)
                        if checkbox
                          - var { options, attrs } = checkbox;
                          -options.modificators = options.modificators ? `${options.modificators} detail__settings-checkbox` : 'detail__settings-checkbox';
                          +checkbox(options)&attributes(attrs)
                .detail__footer
                  if status
                    +status(status)
                  .detail__footer-content
                    if prices
                      - var { current, old } = prices;
                      .detail__prices
                        if current
                          span.detail__prices-current!=current
                        if old
                          span.detail__prices-old!=old
                    .detail__controls
                      .detail__controls-content
                        if counter
                          .detail__counter
                            +counter(counter)
                          +btn({
                            icons: {
                              left: 'basket',
                            },
                          })(type="button" class="_secondary detail__btn _short" data-tippy-content="перейти в корзину")
                        else
                          +btn({
                            label: 'Добавить в корзину',
                          })(type="button" disabled=error class="_primary detail__btn _full")
                      if error
                        .detail__error!=error

