include ./popup-basket

-
  var logo = {
    url: '/',
    icon: 'logo',
  };

-
  var nav = [
    {
      label: 'Как собрать аквабайк',
    },
    {
      label: 'Каталог моделей',
    },
    {
      label: 'Мотор и запчасти',
    },
    {
      label: 'О нас',
    },
    {
      label: 'Частые вопросы',
      modificators: '_hidden',
    },
  ];

-
  var connect = {
    networks: [
      {
        url: '#',
        icon: 'telegram',
        target: '_blank',
      },
      {
        url: '#',
        icon: 'whatsapp',
        target: '_blank',
      },
    ],
    telephone: {
      url: 'tel:+79911758377',
      label: '+7 (991) 175-83-77',
    },
  };

-
  var links = [
    {
      icon: 'basket',
      count: '6',
      modificators: '_basket',
    },
    {
      icon: 'question',
      modificators: '_question',
    },
  ];

-
  var popupBasket = {
    options: {
      header: {
        title: 'Товар добавлен!',
        subtitle: 'Корзина',
        sum: '4 850 700 р.',
        count: '16 шт.',
      },
      cards: [
        {
          picture: {
            single: {
              path: 'images/popup-basket/1.jpg',
              sizes: {
                _0: [100, 100],
              },
            },
          },
          name: 'Корпус для гидроцикла Ride Pro',
          price: '1 180 000 р.',
          count: '1 шт.',
        },
        {
          picture: {
            single: {
              path: 'images/popup-basket/2.jpg',
              sizes: {
                _0: [100, 100],
              },
            },
          },
          name: 'Выхлопная труба',
          price: '270 000 р.',
          count: '3 шт.',
        },
        {
          picture: {
            single: {
              path: 'images/popup-basket/3.jpg',
              sizes: {
                _0: [100, 100],
              },
            },
          },
          name: 'Кольцо водомета 144',
          price: '46 800 р.',
          count: '2 шт.',
        },
        {
          picture: {
            single: {
              path: 'images/popup-basket/4.jpg',
              sizes: {
                _0: [100, 100],
              },
            },
          },
          name: 'Нижний кронштейн рулевой рейки',
          price: '26 000 р.',
          count: '1 шт.',
        },
        {
          picture: {
            single: {
              path: 'images/popup-basket/5.jpg',
              sizes: {
                _0: [100, 100],
              },
            },
          },
          name: 'Водозаборная решетка алюминиевая',
          price: '32 300 р.',
          count: '1 шт.',
        },
      ],
      footer: [
        {
          options: {
            tag: 'a',
            label: 'Оформить заказ',
          },
          attrs: {
            href: '#',
            class: '_primary',
          },
        },
        {
          options: {
            tag: 'a',
            label: 'Перейти в корзину',
          },
          attrs: {
            href: '#',
            class: '_secondary',
          },
        },
      ],
    },
    attrs: {
      id: 'basket-add',
    },
  };

header.header
  .header__panel
    .container.header__container
      if nav || content
        buttton.header__nav-btn.js-mobinav-btn(type="button")
          span
          span
          span
      if logo
        +logo(logo).header__logo._light
      if nav || connect
        .header__content.js-mobinav#mobinav
          if nav
            h6.h3.header__label Меню
            nav.header__nav
              ul.header__nav-list
                each item, idx in nav
                  - var { label, modificators } = item;
                  li.header__nav-item(class=`${modificators || ''}` + (idx === 0 ? `${modificators ? ' ' : ''}_active` : ''))
                    a.header__nav-link._link-hover(href="#")
                      span!=label
          if connect
            +connect(connect).header__mobile-connect._dark
      if connect
        +connect(connect).header__connect._light
      if links
        ul.header__links
          each item in links
            - var { icon, count, modificators } = item;
            li.header__links-item(class=`${modificators || ''}` + (count > 0 ? `${modificators ? ' ' : ''}_active` : ''))
              a.header__links-element._link-hover(href="#" class=icon === 'basket' ? 'js-basket-btn' : '')
                if icon
                  +svg(icon).header__links-icon
                if count
                  .header__links-count!=count
              if icon === 'basket' && popupBasket
                - var { options, attrs } = popupBasket;
                +popup-basket(options)&attributes(attrs)
