mixin field(data)
  if data
    - var { modificators, tag, error } = data;
    .field(class=modificators)
      .field__content
        -attributes.placeholder = attributes.placeholder ? `${attributes.placeholder}${attributes.required ? '*' : ''}` : '';
        #{tag}(class=`field__${tag}`)&attributes(attributes)
      if error
        .field__error!=error
