mixin purchases(data)
  if data
    - var { title, itog, products } = data;
    .purchases&attributes(attributes)
      .purchases__wrapper
        if title || itog
          .purchases__header
            if title
              h4.h3.purchases__title!=title
            if itog
              ul.purchases__itog
                each item in itog
                  - var { label, value } = item;
                  li.purchases__itog-item
                    if label
                      span.purchases__itog-label!=label
                    if value
                      span.purchases__itog-value!=value
        if products
          .purchases__content
            each item in products
              - var { picture, name, price, count } = item;
              .purchases__product
                if picture
                  a.purchases__product-picture(href="#")
                    +picture(picture)._contain
                if name || price || count
                  .purchases__product-content
                    if name
                      h6.purchases__product-name
                        a.purchases__product-link._link-hover(href="#")!=name
                    if price
                      .purchases__product-price!=price
                    if count
                      .purchases__product-count
                        span!=count
